<div id="loginUser">
	<!-- <a href="/write" id="newPost" class="newPost button">+ Post</a> -->
	<button class="setting button">
		<i class="icon-cog"></i>
	</button>

	<a id="account" class="currentCharacter button">
		<img src="/img/loading.gif">
	</a>

	<ul class="panel">
		<li class="header closePanel">
			<i class="icon-cancel-1"></i>
		</li>
		<li class="logout">
			<a href="/logout" id="logout">Logout</a>
		</li>
		<li class="newCharacter">
			<a id="newCharacterFormOpen">+ New Account</a>
		</li>
		{{~ it :character :index }}
		<li class="character">
			<a href="/posts/{{=character._id}}" data-id="{{=character._id}}">
				<span class="thumb">
					<img src="{{=character.image.frontImage}}"/>
				</span>
				<span class="name">{{=character.name}}</span>

				<a class="unread{{? character.unread}} exist{{?}}" {{? character.unreadPost}} href="/post/{{=character.unreadPost}}"{{?}}>{{=character.unread}}</a>
			</a>
		</li>
		{{~}}
	</ul>
</div>
